{% extends "base.html" %}

{% block content %}
<h1>Sign in or <a href='{{url_for('register')}}'>Register here</a></h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
        Please enter your username or email:<br />
        {{form.username(size=80)}}<br />
        {% for error in form.errors.username %}
        <span style="color:red;">[{{error}}]</span>
        {% endfor %}
    </p>
    <p>
        Password:
        {{form.password(size=80)}}<br />
        {% for error in form.errors.password %}
        <span style="color:red;">[{{error}}]</span>
        {% endfor %}
    </p>
    <p>{{form.remember_me}} Remember Me</p>
    <p><input type="submit" value="Sign In"></p>
    {{form.csrf_token}}
</form>
{% endblock %}
